/* index.css */

body {
  margin: 0;
  padding: 0;
  background: url('assets\bg_img.png') center/cover fixed; /* Replace 'background-image.jpg' with your actual image URL */
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  overflow: hidden;
  cursor: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

header {
  text-align: center;
  padding: 100px 0;
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.5em;
}

section {
  padding: 20px;
  margin-top: 100vh; /* Initial margin equal to the viewport height */
  box-sizing: border-box;
}

/* Custom cursor style */
#custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: url('assets\star.png') no-repeat center/cover;
  pointer-events: none;
  transform-origin: center;
  transition: transform 0.1s;
  z-index: 9999;
}

/* Custom cursor trail */
.cursor-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: purple;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
}
